
/* base styles, feel free to edit */


html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:white;
    min-height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

footer {
    border-top: 1px solid rgba(0,0,0,.0975);
    padding: 10px;
    background-color:white;
    min-height: 60px;
    text-align: right;
}

.banner > *, footer > * {
    margin: 10px 25px;
}

.nav {
    list-style-type: none;
    padding: 0;
}

.nav-item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 5px;
    display: inline;
    list-style-type: none;
}
.bottom_style{
    border: none;
    background: #404040;
    color: #ffffff;
    font-weight:bold;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 6px;

}
.bottom_style:hover{
    background: white;
    color: black;


}


.post-box{
    padding: 10px;
    margin: auto;
    border: 1px solid black;
    line-height:normal;
    width: 90%;
    background-color: white;
    padding-bottom: 2em;
    height:max-content;
    margin-top: 3em;

}
.click_name{
    border: none;
    color: rgba(14, 171, 199, 0.897);
    font-weight:bold;
    border-radius: 6px;
}

.click_name:hover{
    background: white;
    color: black;
    border: 5px solid black;
}
.post_text{
    padding-top: 1em;
    margin-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;

    text-align: center;
    border-bottom: 1px solid  grey;
    border-top: 1px solid grey;
    margin-left:0 auto;
    margin-right:0 auto;
    

}    
.center{
    
    margin: auto;
}
.dateposition{
    font-family: Arial;
    color: gray;
    font-size: 10px;
    font-weight: bold;
    float: right;
}
.comment_text{
    
    color: black;
    font-size: 15px;
    font-weight: bold;
    width: 60%;
    margin: 0 auto;
    border-bottom: 1px solid  grey;
    border-top: 1px solid grey;


}
/* .error_pop{
    width: 400px;
    height: 200px;
    border: 2px solid black;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: -100px;
    background-color: yellow;
    font-size: large;
    z-index: 9;
    
} */

.error_pop{
    border: 2px solid black;

    position: fixed;
    left: 50%;
    top: 50%;
    background-color: darkgrey;
    font-weight:bold;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 6px;
    text-align: center;
    z-index: 100;
    font-size: large;
    color: #ffffff;
    height: 100px;
    margin-top: -50px;
    width: 300px;
    margin-left: -150px;
}

.input_comment{
    
    float:right;
    height:2em;
}


.center_style{
    width: 90%;
    margin: auto;
}
.image{
    width: 60%;
    margin:0 auto;
}
.userdetial{
    border: 1px solid #333; 
    padding: 10px; 
    margin: 10px;
    background-color: white;
    width:fit-content;
}

@media only screen and (min-width: 900px){

    /* .post-box{
        padding: 10px;
        margin: auto;
        border: 1px solid #333;
        line-height:normal;
        width: 50%;
        background-color: white;
        padding-bottom: 2em;
        height:max-content;
        margin-top: 3em;
    
    } */
    .center_style{
        width: 80%;
    }

    .click_name{
        font-size:100%;

    }
    .dateposition{
        font-size:90%;
    }
    .input_comment{
        width: 260px;
        height: 2em;
        font-size: large;
    }
    .bottom_style{
        font-size: 100%;
        padding: 10px;

    }

    .image{
        width: 40%;
    }
}

@media only screen and (max-width: 550px){

    .bottom_style{
        font-size: 60%;
        padding: 5px;

    }
    .userdetial{
        width: 80%;
        font-size: small;
    }

    .input_comment{
        width: 80px;
        height: 1.5em;
        font-size: smaller;
    }

}
